<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>

    
    <div id="game_div"></div>

    <!-- Javascript load -->
    <script type="text/javascript" src="/javascripts/libs/phaser.min.js"></script>
    
    <script type="text/javascript" src="/eidolon/boot.js"></script>
    <script type="text/javascript" src="/eidolon/preload.js"></script>
    <script type="text/javascript" src="/eidolon/titleScreen.js"></script>
    <script type="text/javascript" src="/eidolon/theGame.js"></script>
    <script type="text/javascript" src="/eidolon/gameOver.js"></script>
    <script type="text/javascript" src="/eidolon/game.js"></script>

 
  </body>
</html>

