<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>

    
    <div id="game_div"></div>

    <!-- Javascript load -->
    <script type="text/javascript" src="/javascripts/libs/phaser.min.js"></script>
    
    <script type="text/javascript" src="/dungeon/js/boot.js"></script>
    <script type="text/javascript" src="/dungeon/js/preload.js"></script>
    <script type="text/javascript" src="/dungeon/js/titleScreen.js"></script>
    <script type="text/javascript" src="/dungeon/js/theGame.js"></script>
    <script type="text/javascript" src="/dungeon/js/gameOver.js"></script>
    <script type="text/javascript" src="/dungeon/js/game.js"></script>

 
  </body>
</html>
