<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>

    
    <div id="game_div"></div>

    <!-- Javascript load -->
    <script type="text/javascript" src="/javascripts/libs/phaser.min.js"></script>

    <!-- loading the common functions used in all states -->
    <!-- loading the player -->
    <script type="text/javascript" src="/eidolon/js/player.js"></script>
    <!-- loading the enemies -->
    <script type="text/javascript" src="/eidolon/js/enemies/enemyConstants.js"></script>
    <script type="text/javascript" src="/eidolon/js/enemies/crab.js"></script>
    <script type="text/javascript" src="/eidolon/js/enemies/octopus.js"></script>
    <!-- loading misc/Fx sprite code -->
    <script type="text/javascript" src="/eidolon/js/Fx/animationHelpers.js"></script>
    <script type="text/javascript" src="/eidolon/js/Fx/explosions.js"></script>
    <script type="text/javascript" src="/eidolon/js/Fx/projectiles.js"></script>
    <!-- map creation code -->
    <script type="text/javascript" src="/eidolon/js/map.js"></script>

    
    <!-- loading main game states -->
    <script type="text/javascript" src="/eidolon/js/boot.js"></script>
    <script type="text/javascript" src="/eidolon/js/loadScreen.js"></script>
    <script type="text/javascript" src="/eidolon/js/titleScreen.js"></script>
    <script type="text/javascript" src="/eidolon/js/credits.js"></script>
    <script type="text/javascript" src="/eidolon/js/gameOver.js"></script>
    <script type="text/javascript" src="/eidolon/js/victory.js"></script>
    <script type="text/javascript" src="/eidolon/js/level.js"></script>

    <!-- loading level states -->

    <!-- level 1 -->
    <script type="text/javascript" src="/eidolon/js/level1/level1_0.js"></script>
    <script type="text/javascript" src="/eidolon/js/level1/level1_1.js"></script>
    <script type="text/javascript" src="/eidolon/js/level1/level1_2.js"></script>



    <!-- attach states to the game and boot the game -->
    <script type="text/javascript" src="/eidolon/js/game.js"></script>

 
  </body>
</html>
