<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h2><%= title %></h2>
    
    <h4><a href="/eidolon">Eidolon</a></h4>
    <h4><a href="/dungeon">Dungeon Crawler</a></h4>
 
  </body>
</html>
