<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %></h1>
    <div id="game_div"></div>


    <!-- Javascript load -->
    <script type="text/javascript" src="/javascripts/libs/phaser.min.js"></script>
    <script type="text/javascript" src="/javascripts/dungeon/boot.js"></script>
    <script type="text/javascript" src="/javascripts/dungeon/preload.js"></script>
    <script type="text/javascript" src="/javascripts/dungeon/titleScreen.js"></script>
    <script type="text/javascript" src="/javascripts/dungeon/theGame.js"></script>
    <script type="text/javascript" src="/javascripts/dungeon/gameOver.js"></script>
    <script type="text/javascript" src="/javascripts/dungeon/game.js"></script>

  </body>
</html>
